<h2>FormsModule</h2>
<mat-card>
  <mat-card-title>
    Форма регистрации
  </mat-card-title>
  <form novalidate #f="ngForm">
    <input [ngModel]="name.first" name="first" placeholder="Имя">
    <input [ngModel]="name.last" name="last" placeholder="Фамилия">
    <div ngModelGroup="account" password-matcher #account="ngModelGroup">
      <label>Аккаунт</label>
      <input ngModel name="username" placeholder="Логин">
      <input ngModel name="password" placeholder="Пароль" required
      #password="ngModel">
    </div>
    <mat-card-actions align="end">
      <button mat-button>Зарегистрироваться</button>
    </mat-card-actions>
  </form>
</mat-card>
<mat-card>
  <p>Form: {{ f.value | json }}</p>
  <p>Form status: {{ f.control.status }}</p>
  <p>Account errors: {{ account.control?.errors | json  }}</p>
</mat-card>
