<h2>FormsModule</h2>
<mat-card>
  <mat-card-title>
    Форма регистрации
  </mat-card-title>
  <form novalidate #f="ngForm">
    <input [ngModel]="name.first" name="first" placeholder="Имя">
    <input [ngModel]="name.last" name="last" placeholder="Фамилия">
    <div>
      <label>Аккаунт</label>
      <input ngModel name="username" placeholder="Логин">
      <input ngModel name="password" placeholder="Пароль" required>
      <label>Желаете получать рассылку?</label>
      <input type="radio" value="yes" ngModel name="newsletter" checked>Да
      <input type="radio" value="no" ngModel name="newsletter">Нет
    </div>
    <mat-card-actions>
      <button mat-button>Зарегистрироваться</button>
    </mat-card-actions>
  </form>
</mat-card>
<mat-card>
  <pre>Form: {{ f.value | json }}</pre>
  <pre>{{ name | json}}</pre>
</mat-card>
