<h2>FormsModule</h2>
<mat-card>
  <mat-card-title>
    Форма регистрации
  </mat-card-title>
  <form novalidate #f="ngForm">
    <input [ngModel]="name.first" name="first" placeholder="Имя">
    <input [ngModel]="name.last" name="last" placeholder="Фамилия">
    <div ngModelGroup="account">
      <label>Аккаунт</label>
      <input ngModel name="username" placeholder="Логин" required>
      <input ngModel name="password" placeholder="Пароль" required #pass="ngModel">
    </div>
    <label>Желаете получать рассылку?</label>
    <input type="radio" value="yes" ngModel name="newsletter" checked>Да
    <input type="radio" value="no" ngModel name="newsletter">Нет
    <mat-card-actions>
      <button mat-button>Зарегистрироваться</button>
    </mat-card-actions>
  </form>
</mat-card>
<mat-card>
  <pre>Form: {{ f.value | json }}</pre>
  <pre>{{ name | json}}</pre>
  <pre>Form status: {{ f.control?.status }}</pre>
  <pre>Username status: {{ pass.status }}</pre>
</mat-card>
