<h2>ReactiveFormsModule</h2>
<mat-card>
  <mat-card-title>
    Форма регистрации
  </mat-card-title>
  <form novalidate>
    <input name="first" placeholder="Имя">
    <input name="last" placeholder="Фамилия">
    <div>
      <label>Аккаунт</label>
      <input name="username" placeholder="Логин">
      <input name="password" placeholder="Пароль" required>
      <label>Желаете получать рассылку?</label>
      <input type="radio" value="yes" name="newsletter" checked>Да
      <input type="radio" value="no" name="newsletter">Нет
    </div>
    <mat-card-actions>
      <button mat-button>Зарегистрироваться</button>
    </mat-card-actions>
  </form>
</mat-card>