<h2>ReactiveFormsModule</h2>
<mat-card>
  <mat-card-title>
    Форма регистрации
  </mat-card-title>
  <form novalidate [formGroup]="form">
    <input formControlName="first" placeholder="Имя">
    <input formControlName="last" placeholder="Фамилия">
    <div formGroupName="account">
      <label>Аккаунт</label>
      <input formControlName="username" placeholder="Логин">
      <input formControlName="password" placeholder="Пароль">
    </div>
    <mat-card-actions align="end">
      <button mat-button>Зарегистрироваться</button>
    </mat-card-actions>
  </form>
</mat-card>
<mat-card>
  <p>Form: {{ form.value | json }}</p>
  <p>Form status: {{ form.status }}</p>
  <p>Account status: {{ form.get('account').errors | json }}</p>
</mat-card>
