<h2>ReactiveFormsModule</h2>
<mat-card>
  <mat-card-title>
    Форма регистрации
  </mat-card-title>
  <form novalidate [formGroup]="form">
    <input formControlName="first" placeholder="Имя">
    <input formControlName="last" placeholder="Фамилия">
    <div formGroupName="account">
      <label>Аккаунт</label>
      <input formControlName="username" placeholder="Логин">
      <input formControlName="password" placeholder="Пароль" required>
    </div>
    <label>Желаете получать рассылку?</label>
    <input type="radio" value="yes" formControlName="newsletter" checked>Да
    <input type="radio" value="no" formControlName="newsletter">Нет
    <mat-card-actions>
      <button mat-button>Зарегистрироваться</button>
    </mat-card-actions>
  </form>
</mat-card>
<mat-card>
  <pre>Form: {{ form.value | json }}</pre>
  <pre>Form status: {{ form.status }}</pre>
  <pre>Username status: {{ form.get('account.username').status }}</pre>
</mat-card>